*{
    background-color: green;
}

h1 {
    text-align: center;
    font-family: fantasy;

}

#dealer-cards img {
    height: 160px;
    width: 105px;
    margin: 5px;
}

.message-panel {
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
    color: #000000;

}

#player-cards img {
    height: 160px;
    width: 105px;
    margin: 5px;
}
.button-panel {
    display: flex;
    border: 0 px;
    background-color: rgb(175, 100, 9);
    height: 130px;
    margin: 0 auto;
}
#bet20 {
    border: 0px;
    background-color: rgb(175, 100, 9);
    color: rgb(175, 100, 9);
}
#bet50 {
    border: 0px;
    background-color: rgb(175, 100, 9);
    color: rgb(175, 100, 9);
}
#bet100 {
    border: 0px;
    background-color: rgb(175, 100, 9);
    color: rgb(175, 100, 9);
}
#hit {
    border: 0px;
    background-color: rgb(175, 100, 9);
    color: rgb(175, 100, 9);
}
#deal {
    border: 0px;
    background-color: rgb(175, 100, 9);
    color: rgb(175, 100, 9);
}
#stay {
    border: 0px;
    background-color: rgb(175, 100, 9);
    color: rgb(175, 100, 9);
}

.dealer-hand {
    background-color: lightskyblue;
    align-items: center;
}

.player-hand {
    justify-content: center;
}

.button-panel img {
    height:90px;
    width: 90px;
    margin: 0;
    background-color: rgb(175, 100, 9);
    color: rgb(175, 100, 9);
}

#bet20 img {
    height: 90px;
    width: 120px;
    background-color: rgb(175, 100, 9);
    color: rgb(175, 100, 9);
}
#bet50 img {
    height: 90px;
    width: 120px;
    background-color: rgb(175, 100, 9);
    color: rgb(175, 100, 9);
}
#bet100 img {
    height: 90px;
    width: 120px;
    background-color: rgb(175, 100, 9);
    color: rgb(175, 100, 9);
}
#player-stats {
    height: 80px;
    width: 300px;
    background-color: darkslategray;
}

#current-bet {
    color: darkgray;
    background-color: darkslategray;
    font-family: fantasy;
    text-align: center;
}
#current-bet span {
    color: black;
    background-color: darkslategray;
}

#balance span {
    color: black;
    background-color: darkslategray;
}

#balance {
    color: darkgray;
    background-color: darkslategray;
    font-family: fantasy;
    text-align: center;
}
